html,body{
	min-height:100vh;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-image: url("BACK.jpeg");
	background-size: cover;
}
.r{
	color: red;
}
label{
	color: white;
}
input, textarea{
	color: grey;
	font-size: 15px;
	border-width:1.5px;
	border-radius: 7px;
}
#Nom{
	left:15px; 
	position: absolute;
}
#Nom input{
	width: 650px;
}

#Prenom{
	left:680px; 
	position: absolute;
}
#Prenom input{
	width: 620px;
}

#date{
	top: 50px;
	left:15px; 
	position: absolute;
}
#date input{
	width:420px; 
}

#mail{
	top: 50px;
	left: 450px;
	position: absolute;
}
#mail input{
	width:400px; 
}

#sexe{
	top: 50px;
	left: 875px;
	position: absolute;
}

#area{
	margin-top: 10px;
	top: 90px;
	left: 15px;
	position: absolute;
}
textarea{
	width: 1285px;
	height: 100px;
}

#pro{
	top: 240px;
	left: 15px;
	position: absolute;
}

#sub{
	top: 280px;
	left: 15px;
	position: absolute;
}
#sub input{
	border-radius: 5px;
	border-color: #4b8aec;
	width: 100px;
	height: 35px;
	background-color:#4b8aec ;
	color: white;
}